{% extends 'users/base.html' %}

{% block content %}
<section class="h-auto ml-[300px] flex items-center justify-center  bg-grayyy ">
  <div class="mx-auto container text-black">
    <div class="flex items-center  justify-center mt-[200px]">
      <div class="bg-white w-full p-11 h-screen flex flex-col gap-5">
        <h1 class="text-[26px] font-bold mb-4">Admin Yearbook</h1>

        {% if messages %}
        {% for message in messages %}
        <div class="bg-green-500 border border-green-400 text-green-700 w-[500px] px-4 py-3 rounded-md mb-4">
          <p class="text-center text-white font-bold">
            {{ message }}
          </p>
        </div>
        {% endfor %}
        {% endif %}

        <form class=" flex flex-col gap-2" method="post" enctype="multipart/form-data">
          <h6 class="text-[19px] ">Search Graduate</h6>


          {% csrf_token %}
          <div class="  w-full  flex gap-5">
            <div class="w-full">
              <p>First Name</p>
              <input type="text" name="yearfirstname" class="bg-grayyy outline-none h-[49px] w-full p-2" required />
            </div>
            <div class="w-full">
              <p>Last name</p>
              <input type="text" name="yearlastname" class="bg-grayyy outline-none h-[49px] w-full p-2" required />
            </div>


          </div>

          <div class="w-full flex gap-5">


            <div class="w-full">
              <p>Gender</p>
              <input type="text" name="yeargender" class="bg-grayyy outline-none h-[49px] w-full p-2" required />
            </div>

            <div class="w-full">
              <p>Course</p>
              <input type="text" name="yearcourse" class="bg-grayyy outline-none h-[49px] w-full p-2" required />
            </div>


          </div>

          <div class="w-full flex gap-5">


            <div class="w-full">
              <p>Address</p>
              <input type="text" name="yearaddress" class="bg-grayyy outline-none h-[49px] w-[541px] p-2" required />
            </div>
            <div class="w-full">
              <p>Date Graduated</p>
              <input type="number" name="yeargraduated" class="bg-grayyy outline-none h-[49px] w-[300px] p-2" required />
            </div>


          </div>





          <div class=" flex gap-5">
            <div class="mt-5">
              <p>Upload Image Here</p>
              <input type="file" id="myfile" name="yearImage">
            </div>
          </div>
          <div class="flex items-center justify-center mt-5">
            <button class="bg-blo p-3 text-white w-[150px]">Submit</button>
          </div>
        </form>
      </div>


    </div>
  </div>
</section>


{% endblock %}