{% extends 'users/base.html' %}

{% block content %}
<section class="h-auto ml-[300px] flex items-center justify-center  bg-grayyy ">
  <div class="mx-auto container text-black">
    <div class="flex items-center  justify-center mt-[200px]">
      <div class="bg-white w-auto h-auto p-5 gap-10">
        <h1 class="text-[36px] font-bold mb-10">Alumni Reunion and Events</h1>
        <div class="grid grid-cols-3 gap-5 w-auto h-auto ">

          {% for event in events %}
          <div class="  rounded-lg flex w-auto min-w-[360px]
          max-w-[360px]  flex-col border gap-2 mt-5">

            <div class="min-w-[360px] min-h-[207px]">

              <img src="{{ event.eventsImage.url }}" class="min-w-[360px] min-h-[207px] rounded-lg  max-w-[360px] max-h-[207px] " />
            </div>

            <div class="flex flex-col gap-1  w-auto h-auto p-2">
              <h1 class=" text-[20px] text-blo hover:underline cursor-pointer font-bold">
                {{ event.eventsName }}
              </h1>
              <p class="text-[14px] text-tgray font-bold ">
                {{ event.eventsDate }}
              </p>
              <p class="text-[14px] text-tgray font-bold ">
                {{ event.eventsLocation }}
              </p>
              <p class="text-[13px]  font-bold w-full" id="description">
                {{ event.eventsDescription }}
              </p>
            </div>


          </div>


          {% endfor %}
        </div>


      </div>



    </div>
  </div>
</section>
{% endblock %}