{% load static %}

<!DOCTYPE html>

<head>
  <title>STUDENT LIFE INFORMATION SYSTEM</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <script src="https://cdn.tailwindcss.com"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://kit.fontawesome.com/c384d92761.js" crossorigin="anonymous"></script>
  <script>
    tailwind.config = {
      theme: {
        container: {
          padding: {
            DEFAULT: "15px",
          },
        },

        extend: {
          colors: {
            grayyy: "#f1f1f1",
            gray2: "#F2F2F2",
            orng: "#FF8000",
            blo: "#4682B4",
            tgray: "#5A5A5A",

          },

          fontWeight: {
            medium: 500,
            semibold: 600,
            bold: 700,
          },
          fontStyle: {
            sfLight: [
              "SF Pro Text",
              "Arial",
              "sans-serif",
              {
                "font-weight": 600,
                "font-style": "normal"
              },
            ],
            sfRegular: [
              "SF Pro Text",
              "Arial",
              "sans-serif",
              {
                "font-weight": 400,
                "font-style": "normal"
              },
            ],
          },

        },
      },
    }
  </script>

  <link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">

</head>

<body>
  <div class="orange-bar">
    <img src="{% static 'users/images/CTU_logo.png' %}" class="logo">

  </div>
  <nav class="side-nav">
    <ul>
      <li><a href="#" class="studentlife-btn">OFFICE OF STUDENT LIFE
          <span class="fas fa-caret-down first"></span>
        </a>
        <ul class="studentlife">
          <li><a href="#">Equipment</a></li>
          <li><a href="#">Good Moral Certificate Issuance</a></li>
          <li><a href="#">PPMP Tracker</a></li>
          <li><a href="#">Monthly Calendar of Activites</a></li>
        </ul>
      </li>
      <li><a href="#" class="scholar-btn">SCHOLARSHIP
          <span class="fas fa-caret-down second"></span>
        </a>
        <ul class="scholar-show">
          <li><a href="#">Submission of Requirements Tracker</a></li>
          <li><a href="#">Scholars Profile and Validation</a></li>
          <li><a href="#">Grade Submission with GPA Computation</a></li>
          <li><a href="#">Mentorship Program</a></li>
          <li><a href="#">Admin Cost Liquidation Tracker</a></li>
          <li><a href="#">CHED Reports Submission</a></li>
          <li><a href="#">Transaction Reports</a></li>
        </ul>
      </li>
      <li><a href="#" class="jobplace-btn">JOB PLACEMENT
          <span class="fas fa-caret-down third"></span>
        </a>
        <ul class="jobplace-show">
          <li><a href="#">OJT Hiring</a></li>
          <li><a href="#">Career Guidance Tracker</a></li>
          <li><a href="#">OJT Requirements Tracker</a></li>
          <li><a href="#">Non-Academic Award Issuance</a></li>
          <li><a href="#">Transaction Reports</a></li>
        </ul>
      </li>
      <li><a href="#" class="student_disc-btn">STUDENT DISCIPLINE
          <span class="fas fa-caret-down fourth"></span>
        </a>
        <ul class="student_disc-show">
          <li><a href="#">Case Profile</a></li>
          <li><a href="#">Hours Rendered for Community Service Tracker</a></li>
          <li><a href="#">Good Moral Certificate Issuance</a></li>
          <li><a href="#">Transaction Reports</a></li>

        </ul>
      </li>
      <li><a href="#" class="guide-btn">GUIDANCE
          <span class="fas fa-caret-down fifth"></span>
        </a>
        <ul class="guide-show">
          <li><a href="#">Individual Profile with Guidance Concern</a></li>
          <li><a href="#">Counseling App with Scheduler</a></li>
          <li><a href="#">Intake Interview</a></li>
          <li><a href="#">Exit Interview</a></li>
          <li><a href="#">OJT Assessments/Psychological Issuance</a></li>
          <li><a href="#">Transaction Reports</a></li>
        </ul>
      </li>
      <li><a href="#" class="alumni-btn">ALUMNI
          <span class="fas fa-caret-down sixth"></span>
        </a>
        <ul class="alumni-show">
          <li><a href="{% url 'idRequest' %}">Alumni ID Requests</a></li>
          <li><a href="{% url 'graduateTracer' %}">Graduate Tracer</a></li>
          <li><a href="{% url 'alumni_events' %}">Alumni Reunion and Events</a></li>
          <li><a href="{% url 'jobfairs' %}">Job Fairs</a></li>
          <li><a href="{% url 'yearbook' %}">Digital Yearbook</a></li>

          {% if user %}

          <li><a href="{% url 'transaction_alumni' %}">Transaction Reports</a></li>
          <li><a href="{% url 'admin_idRequest' %}">Admin ID Request</a></li>
          <li><a href="{% url 'admin_gradTracer' %}">Admin Grad Tracer</a></li>
          <li><a href="{% url 'admin_events' %}">Admin Events</a></li>
          <li><a href="{% url 'admin_jobfairs' %}">Admin Jobfairs</a></li>
          <li><a href="{% url 'admin_yearbook' %}">Admin Yearbook</a></li>
          {% endif %}

        </ul>
      </li>
      <li><a href="#" class="community-btn">COMMUNITY INVOLVEMENT
          <span class="fas fa-caret-down seventh"></span>
        </a>
        <ul class="community-show">
          <li><a href="#">Events</a></li>
          <li><a href="#">CrowdFunding Projects</a></li>
          <li><a href="#">Donatio App</a></li>
          <li><a href="#">Transaction Reports</a></li>

        </ul>
      </li>
      <li><a href="#" class="student_org-btn">STUDENT ORGANIZATION
          <span class="fas fa-caret-down eight"></span>
        </a>
        <ul class="student_org-show">
          <li><a href="#">Org Profile</a></li>
          <li><a href="#">Projects and Accomplishments</a></li>
          <li><a href="#">Financial Statements Reports</a></li>
          <li><a href="#">Accreditation Application</a></li>
          <li><a href="#">Transaction Reports</a></li>
        </ul>
      </li>
      <li><a href="#" class="medical-btn">MEDICAL
          <span class="fas fa-caret-down ninth"></span>
        </a>
        <ul class="medical-show">
          <li><a href="#">Patient Profile</a></li>
          <li><a href="#">Student Medical Requirements Tracker</a></li>
          <li><a href="#">Emergency Health Assistance</a></li>
          <li><a href="#">PWD Profile</a></li>
          <li><a href="#">Dental Services</a></li>
          <li><a href="#">Medical Clearance Issuance</a></li>
          <li><a href="#">Prescription Issuance</a></li>
          <li><a href="#">Transaction Reports</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  </div>

  <div class="search-container">
    <div class="search-icon">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <input class="searchInput" type="text" placeholder="Search...">
  </div>

  <!-- content -->
  <div>
    {% block content %}
  </div>
  {% endblock %}

  <script>
    $('.studentlife-btn').click(function() {
      $('.side-nav ul .studentlife').toggleClass("show");
      $('.side-nav ul .first').toggleClass("rotate");
    });
    $('.scholar-btn').click(function() {
      $('.side-nav ul .scholar-show').toggleClass("show2");
      $('.side-nav ul .second').toggleClass("rotate");
    });
    $('.jobplace-btn').click(function() {
      $('.side-nav ul .jobplace-show').toggleClass("show3");
      $('.side-nav ul .third').toggleClass("rotate");
    });
    $('.student_disc-btn').click(function() {
      $('.side-nav ul .student_disc-show').toggleClass("show4");
      $('.side-nav ul .fourth').toggleClass("rotate");
    });
    $('.guide-btn').click(function() {
      $('.side-nav ul .guide-show').toggleClass("show5");
      $('.side-nav ul .fifth').toggleClass("rotate");
    });
    $('.alumni-btn').click(function() {
      $('.side-nav ul .alumni-show').toggleClass("show6");
      $('.side-nav ul .sixth').toggleClass("rotate");
    });
    $('.community-btn').click(function() {
      $('.side-nav ul .community-show').toggleClass("show7");
      $('.side-nav ul .seventh').toggleClass("rotate");
    });
    $('.student_org-btn').click(function() {
      $('.side-nav ul .student_org-show').toggleClass("show8");
      $('.side-nav ul .eight').toggleClass("rotate");
    });
    $('.medical-btn').click(function() {
      $('.side-nav ul .medical-show').toggleClass("show9");
      $('.side-nav ul .ninth').toggleClass("rotate");
    });

    var descriptionElement = document.getElementById("description");
    var maxWords = 10; // Change this to the desired word limit

    var words = descriptionElement.innerText.split(" ");
    if (words.length > maxWords) {
      descriptionElement.innerText = words.slice(0, maxWords).join(" ") + "...";
    }
  </script>
</body>

</html>